name: go-github-pr-commenter release
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    name: releasing go-github-pr-commenter
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Release
      uses: goreleaser/goreleaser-action@v2
      with: 
       version: latest
       args: release --rm-dist
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}